//breakpoints
$mobile-breakpoint: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Weights for fonts
$weight-normal: 400;
$weight-demi: 600;
$weight-bold: 700;

// Primary Colours
$color-sunshine: #ffffd0;
$color-olive: #b2be5d;
$color-forest: #b7ea97;
$color-deep-teal: #446d71;
$color-mint: #5aa38c;
$color-ocean: #599faf;

// Secondary Colours
$color-sky: #bde2e8;
$color-fern: #538b65;
$color-steel: #4d8699;
$color-aqua: #84f9f0;
